---
Language: Cpp
BasedOnStyle: LLVM

Standard: Latest
ColumnLimit: 100

IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
IndentCaseLabels: false

PointerAlignment: Left
ReferenceAlignment: Left

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Inline

NamespaceIndentation: None
CompactNamespaces: true
FixNamespaceComments: true

IncludeBlocks: Preserve
SortIncludes: Never

BinPackArguments: true
BinPackParameters: true
AlignAfterOpenBracket: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpacesInAngles: Never

EmptyLineBeforeAccessModifier: LogicalBlock
SeparateDefinitionBlocks: Leave

# Keep raw string literals readable
RawStringFormats:
  - Language: TextProto
    Delimiters: ['pb']
    BasedOnStyle: google
